In [1]:
!ls /data

ira.csv        motley.csv	      taxable.csv	tonyindex.csv
kiplinger.csv  PortfolioDownload.csv  tonydividend.csv	tonyira.csv

In [2]:
import pandas as pd

# read csv file
cars = pd.read_csv("/data/ira.csv")

# display DataFrame
#print(cars)

In [3]:
#cars

In [4]:
# read csv file
motley = pd.read_csv("/data/tonyira.csv")

# display DataFrame
motley

,Symbol,Last Price $,Change $,Change %,Qty #,Price Paid $,Day's Gain $,Total Gain $,Total Gain %,Value $
0,HNDL,25.8000,0.05,0.19,771.0,25.3592,38.550,339.8900,1.7384,19891.800
1,LEVI,28.2700,0.81,2.95,36.0,27.5985,29.160,24.1740,2.4331,1017.720
2,QFIN,34.2800,-1.46,-4.09,30.0,33.8500,12.900,12.9000,1.2703,1028.400
3,SPY,432.9300,-0.79,-0.18,3.0,433.7500,-2.460,-2.4600,-0.1890,1298.790
4,BJUL,31.5548,-0.05,-0.14,30.0,31.6700,-3.456,-3.4560,-0.3638,946.644
5,MPW,20.3800,-0.22,-1.07,50.0,20.4194,-11.000,-1.9700,-0.1930,1019.000
6,MARA,29.7200,-0.57,-1.88,33.0,30.5395,-18.810,-27.0435,-2.6834,980.760
7,COIN,235.4100,-5.31,-2.21,5.0,229.9009,-26.550,27.5455,2.3963,1177.050
8,MDIV,17.0400,-0.01,-0.06,61.0,16.3000,-0.610,45.1400,4.5399,1039.440

In [5]:
cdf  = pd.DataFrame()
for sym in motley['Symbol']:
    print(sym)
    mdf = cars.loc[cars['Symbol'] == sym]
    print(mdf)
    cdf = cdf.append(mdf)

HNDL
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
11   HNDL          25.8       0.0       0.0  771.0       25.3592

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
11           0.0        339.89        1.7384  19891.8            6.7913
LEVI
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
13   LEVI         28.27       0.0       0.0   36.0       27.5985

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
13           0.0        24.174        2.4331  1017.72             0.849
QFIN
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
20   QFIN         34.28       0.0       0.0   30.0         33.85

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
20           0.0          12.9        1.2703   1028.4               0.0
SPY
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
23    SPY        432.93       0.0       0.0    3.0        433.75

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
23           0.0         -2.46        -0.189  1298.79            1.2872
BJUL
  Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  Day's Gain $  \
2   BJUL       31.5548       0.0       0.0   30.0         31.67           0.0

   Total Gain $  Total Gain %  Value $  Dividend Yield %
2        -3.456       -0.3638  946.644               0.0
MPW
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
16    MPW         20.38       0.0       0.0   50.0       20.4194

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
16           0.0         -1.97        -0.193   1019.0            5.4956
MARA
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
14   MARA         29.72       0.0       0.0   33.0       30.5395

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
14           0.0      -27.0435       -2.6834   980.76               0.0
COIN
  Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  Day's Gain $  \
4   COIN        235.41       0.0       0.0    5.0      229.9009           0.0

   Total Gain $  Total Gain %  Value $  Dividend Yield %
4       27.5455        2.3963  1177.05               0.0
MDIV
   Symbol  Last Price $  Change $  Change %  Qty #  Price Paid $  \
15   MDIV         17.04       0.0       0.0   61.0          16.3

    Day's Gain $  Total Gain $  Total Gain %  Value $  Dividend Yield %
15           0.0         45.14        4.5399  1039.44            4.7582

In [6]:
cdf

,Symbol,Last Price $,Change $,Change %,Qty #,Price Paid $,Day's Gain $,Total Gain $,Total Gain %,Value $,Dividend Yield %
11,HNDL,25.8000,0.0,0.0,771.0,25.3592,0.0,339.8900,1.7384,19891.800,6.7913
13,LEVI,28.2700,0.0,0.0,36.0,27.5985,0.0,24.1740,2.4331,1017.720,0.8490
20,QFIN,34.2800,0.0,0.0,30.0,33.8500,0.0,12.9000,1.2703,1028.400,0.0000
23,SPY,432.9300,0.0,0.0,3.0,433.7500,0.0,-2.4600,-0.1890,1298.790,1.2872
2,BJUL,31.5548,0.0,0.0,30.0,31.6700,0.0,-3.4560,-0.3638,946.644,0.0000
16,MPW,20.3800,0.0,0.0,50.0,20.4194,0.0,-1.9700,-0.1930,1019.000,5.4956
14,MARA,29.7200,0.0,0.0,33.0,30.5395,0.0,-27.0435,-2.6834,980.760,0.0000
4,COIN,235.4100,0.0,0.0,5.0,229.9009,0.0,27.5455,2.3963,1177.050,0.0000
15,MDIV,17.0400,0.0,0.0,61.0,16.3000,0.0,45.1400,4.5399,1039.440,4.7582

In [7]:
tdf = cdf.sum(axis=0)

In [8]:
tdf

Symbol              HNDLLEVIQFINSPYBJULMPWMARACOINMDIV
Last Price $                                  855.3848
Change $                                           0.0
Change %                                           0.0
Qty #                                           1019.0
Price Paid $                                  849.3875
Day's Gain $                                       0.0
Total Gain $                                    414.72
Total Gain %                                    8.9488
Value $                                      28399.604
Dividend Yield %                               19.1813
dtype: object

In [9]:
total_gain = tdf['Total Gain $']

In [10]:
total_gain

414.71999999999997

In [11]:
value = tdf['Value $']

In [12]:
value

28399.603999999996

In [13]:
pct = total_gain/(value - total_gain)*100

In [14]:
pct

1.4819428945998134

In [15]:
cdf['income'] = cdf['Dividend Yield %']/100 * cdf['Value $']

In [16]:
cdf

,Symbol,Last Price $,Change $,Change %,Qty #,Price Paid $,Day's Gain $,Total Gain $,Total Gain %,Value $,Dividend Yield %,income
11,HNDL,25.8000,0.0,0.0,771.0,25.3592,0.0,339.8900,1.7384,19891.800,6.7913,1350.911813
13,LEVI,28.2700,0.0,0.0,36.0,27.5985,0.0,24.1740,2.4331,1017.720,0.8490,8.640443
20,QFIN,34.2800,0.0,0.0,30.0,33.8500,0.0,12.9000,1.2703,1028.400,0.0000,0.000000
23,SPY,432.9300,0.0,0.0,3.0,433.7500,0.0,-2.4600,-0.1890,1298.790,1.2872,16.718025
2,BJUL,31.5548,0.0,0.0,30.0,31.6700,0.0,-3.4560,-0.3638,946.644,0.0000,0.000000
16,MPW,20.3800,0.0,0.0,50.0,20.4194,0.0,-1.9700,-0.1930,1019.000,5.4956,56.000164
14,MARA,29.7200,0.0,0.0,33.0,30.5395,0.0,-27.0435,-2.6834,980.760,0.0000,0.000000
4,COIN,235.4100,0.0,0.0,5.0,229.9009,0.0,27.5455,2.3963,1177.050,0.0000,0.000000
15,MDIV,17.0400,0.0,0.0,61.0,16.3000,0.0,45.1400,4.5399,1039.440,4.7582,49.458634